body {
	text-align: center;
	font-family: "Open Sans";
}

#title {
	font-size: 1.55em;
	margin-bottom: 10px;
}

#type {
	font-size: 1.25em;20px;
}

.timeSetTitle {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.timeSet {
	display: inline-block;
	margin-right: 30px;
	margin-left: 30px;
}

.timeControls {
	margin-top: 0px;
}

.timeSet button {
	height: 20px;
	width: 20px;
	border-radius: 5px;
	border: none;
	/*background-color: #E8E8E8;*/
	background-color: white;
	cursor: pointer;
}

.timeSet button:hover {
	color: crimson;
}

#time {
	font-size: 40px;
}

#buttons {
	margin-bottom: 50px;
}

#buttons button {
	border-radius: 5px;
	height: 30px;
	margin-right: 5px;
	margin-left: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	background-color: #E8E8E8;
	font-size: 13px;
	cursor: pointer;
}

#buttons button:hover {
	background-color: crimson;
}

#pomodoro {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	border: solid crimson;
	margin: -10px auto;
	position: relative;
}

#display {
	position: relative;
	top: 70px;
}

#pomodoroFiller {
	position: absolute;
	height: 290px;
	width: 290px;
	border-radius: 50%;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

#filler {
	position: absolute;
	height: 290px;
	width: 290px;
	background-color: crimson;
	top: 290px;
}

.startAnimation {
	animation-name: filler;
	animation-timing-function: linear;
}

@keyframes filler {
	from {top: 290px;}
	to {top: 0px;}
}