body {
	text-align: center;
	font-family: "Open Sans";
	background-color: #2A3132;
	color: #90AFC5;
}

#title {
	font-size: 20px;1.55em;
	margin-bottom: 20px;
	color: black;#763626;
	margin: 12px;
	text-align: left;
}

#type {
	font-size: 1.25em;20px;
}

.timeSetTitle {
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.timeSet {
	display: inline-block;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 10px;

	font-size: 25px;
}

.timeControls {
	margin-top: 0px;
}

.timeSet div {
	height: 20px;
	width: 20px;
	border-radius: 5px;
	border: none;
	/*background-color: #E8E8E8;*/
	cursor: pointer;
	display: inline-block;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

#sessionLength {
	height: 32px;
	width: 35px;
}

#breakLength {
	height: 32px;
	width: 35px;
}

.timeSet div:hover {
	color: #336B87;
}

#time {
	font-size: 40px;
}

#buttons {
	margin-bottom: 50px;
}

#buttons button {
	border-radius: 5px;
	height: 30px;
	margin-right: 5px;
	margin-left: 5px;
	/*padding-left: 10px;
	padding-right: 10px;*/
	width: 70px;
	border: none;
	background-color: #E8E8E8;
	font-size: 13px;
	cursor: pointer;
}

#buttons button:hover {
	background-color: crimson;
}

#pomodoro {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	border: solid #763626;
	margin: -12px auto;
	position: relative;
	display: inline-block;
	left: 17px;
}

#display {
	position: relative;
	top: 70px;
}

#pomodoroFiller {
	position: absolute;
	height: 290px;
	width: 290px;
	border-radius: 50%;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

#filler {
	position: absolute;
	height: 290px;
	width: 290px;
	background-color: #336B87;
	top: 290px;
}

.startAnimation {
	animation-name: filler;
	animation-timing-function: linear;
}

@keyframes filler {
	from {top: 290px;}
	to {top: 0px;}
}

#buttonIcons i {
	display: block;
	font-size: 20px;
	margin-bottom: 15px;
	cursor: pointer;
}

#buttonIcons i:hover {
	color: #336B87;
}

#buttonIcons {
	display: inline-block;
	position: relative;
	top: 165px;
	left: 17px;
}